DirectoryIndex public/index.php index.php index.html

<IfModule mod_rewrite.c>
    RewriteEngine On

    # 1. Manejo de Headers de Autorización (API / Tokens App Móvil)
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    RewriteCond %{HTTP:x-xsrf-token} .
    RewriteRule .* - [E=HTTP_X_XSRF_TOKEN:%{HTTP:X-XSRF-Token}]

    # 2. Redirección de la raíz al index de Laravel (Evita el error 403 Forbidden)
    RewriteRule ^$ public/index.php [L]

    # 3. Redirigir todas las demás peticiones a la carpeta public
    RewriteRule ^((?!public/).*)$ public/$1 [L,NC]
</IfModule>
